# Discord bot credentials
TOKEN=your-discord-bot-token
CLIENT_ID=your-discord-application-id
OWNER_ID=your-discord-user-id

# Postgres credentials
POSTGRES_DB=thhv_bot_db
POSTGRES_USER=thhv_bot_user
POSTGRES_PASSWORD=change_this_password