**/node_modules/*
**/logs/*
**/test/*
**/backup/*
**/**.DS_Store
**/configs/auth.json
**/configs/playerData.json
**/configs/persist.json
**/configs/gameStatus.json
**/temp/*
!**configs/empty.json
node_modules/*
*.exe
